:root {
  --base: rgb(30, 30, 32);
  --base-secondary: rgb(37, 37, 41);
  --primary: rgb(100, 108, 255);
  --danger: rgb(240, 113, 120);
  --text-color: rgb(255, 255, 255);
  --text-color-secondary: rgb(128, 128, 128);
  --border-color: rgba(82, 82, 89, 0.322);
  --padding: 0.625rem;
  --line-height: 1.5rem;
  --root-width: 64rem;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base);
}

#root {
  margin: auto;
  max-width: var(--root-width);
  height: 100dvh;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr;
  overflow: hidden;

  @media (max-width: 1023px) {
    max-width: calc(
      var(--root-width) * 0.5 + (var(--line-height) + var(--padding) * 4) * 2
    );
    grid-template-columns: calc(var(--line-height) + var(--padding) * 4) 1fr calc(
        var(--line-height) + var(--padding) * 4
      );
  }

  @media (max-width: 637px) {
    max-width: calc(
      var(--root-width) * 0.5 + (var(--line-height) + var(--padding) * 4)
    );
    grid-template-columns: calc(var(--line-height) + var(--padding) * 4) 1fr;
    grid-template-rows: 1fr calc(var(--line-height) + var(--padding) * 4);
  }
}

input,
button,
textarea {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
