:root {
  --primary: #646cff;
  --base-dark: #242424;
  --light-gray: rgb(42, 42, 42);
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--base-dark);
}

#root {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 500px 250px;
  grid-template-rows: minmax(100vh, 1fr);
  place-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
