.main {
  border: 1px solid var(--border-color);
  border-top: 0;
  border-bottom: 0;
  width: 100%;
  overflow: hidden;
  position: relative;

  @media (max-width: 1024px) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  @media (max-width: 574px) {
    border-right: none;
  }
}
