.post {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.post a {
  width: 100%;
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr;
  padding: 0 1rem;
  gap: 1rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.postComment a {
  width: 90%;
}

.post img {
  border-radius: 1rem;
}

.postBody header,
.postBody main {
  line-height: 1.5rem;
}

.postBody footer {
  height: 1.5rem;
}

.postBody header {
  display: flex;
  justify-content: flex-start;
}

.postBody header a {
  width: auto;
  padding: 0;
}

.postBody header a:hover {
  text-decoration: underline;
}
