.post {
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  gap: 1rem;
  color: #fff;
  border-bottom: 1px solid var(--light-gray);
}

.postUserAvatar {
  border-radius: 50%;
}

.postBody {
  width: calc(100% - 40px);
}

.postBodyHeader,
.postBodyMain {
  line-height: 1.5rem;
}

.postBodyFooter {
  height: 1.5rem;
  margin-top: 0.25rem;
}

.postBodyHeader {
  display: flex;
  justify-content: space-between;
}

.postBodyHeaderInfo {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.postUserName {
  color: #fff;
}

.postDate {
  color: #808080;
  font-size: 0.875rem;
}

.postSeeCommentsButton {
  color: var(--primary);
}

.postSeeCommentsButton:hover {
  text-decoration: underline;
}

.postAction {
  height: 100%;
  display: flex;
  align-items: center;
  color: #808080;
  fill: #808080;
  gap: 0.5rem;
}

.postAction svg {
  fill: inherit;
}

.postAction:hover {
  color: var(--primary);
  fill: var(--primary);
}
